body {
  font-family: Arial, sans-serif;
  background-color: #0a5aaa;
}

.navbar {
  background-color: #343a40;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-brand {
  font-weight: bold;
}

#authLinks span {
  margin-right: 10px;
}

.container {
  width: 450px;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex div {
  margin-bottom: 10px;
}

.flex label {
  margin-left: 5px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --colorDark1: #112d4e;
  --colorDark2: #3f72af;
  --colorLight1: #dbe2ef;
  --colorLight2: #f9f7f7;
}

body {
  background-color: var(--colorDark2);
  color: var(--colorDark1);
}

/* Navbar Styles */
.navbar {
  background-color: var(--colorDark1);
  color: var(--colorLight2);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

#authLinks {
  display: flex;
  gap: 1rem;
}

#authLinks a {
  color: var(--colorLight2);
  text-decoration: none;
  font-size: 1rem;
}

#authLinks a.active {
  text-decoration: underline;
}

/* Page Specific Styles */
.wrapper {
  width: 100vw;
  height: 100vh;
  color: var(--colorLight2);
  background-image: linear-gradient(
    160deg,
    var(--colorDark1) 0%,
    var(--colorDark2) 100%
  );
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}
