* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
}

img {
  width: 70%;
  height: auto;
  float: right;
  display: block;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #f2f2f2;
  font-size: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.fade {
  animation: fade 3s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#color {
  background: linear-gradient(to right, red, yellow);
  width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --colorDark1: #112d4e;
  --colorDark2: #3f72af;
  --colorLight1: #dbe2ef;
  --colorLight2: #f9f7f7;
}

body {
  background-color: var(--colorDark2);
  color: var(--colorDark1);
}

/* Navbar Styles */
.navbar {
  background-color: var(--colorDark1);
  color: var(--colorLight2);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

#authLinks {
  display: flex;
  gap: 1rem;
}

#authLinks a {
  color: var(--colorLight2);
  text-decoration: none;
  font-size: 1rem;
}

#authLinks a.active {
  text-decoration: underline;
}

/* Page Specific Styles */
.wrapper {
  width: 100vw;
  height: 100vh;
  color: var(--colorLight2);
  background-image: linear-gradient(
    160deg,
    var(--colorDark1) 0%,
    var(--colorDark2) 100%
  );
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}
